html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;

	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    
    background-color:black;
    font-family: 'Press Start 2P', cursive;
    
}

h3 {
    text-align: center;
    background-color: blue;
    color: yellow;
    margin-top: 0;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 30px;
}

h1 {
    
    border-bottom: solid 5px red;
    text-align: left;
    color: yellow;
    font-family: 'Press Start 2P', cursive;
    font-size: 6em;
    
    
}

aside {
    
    float: right;
    color: white;
    margin-top: 0;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
    
    
}

#pgnum {
    
    float: left;
    color: white;
    margin-top: 0;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
}

#welc {
    
    color: white;
    font-size: 45px;
    
    
}

#bamber {
    
    float: right;
    
}

.ft {
    
    border: solid 10px red;
    text-align: center;
    color: teal;
    background-color: black;
    font-size: 40px;
    margin-top: 0;
    padding: 20px;
    margin-right: 0;
    margin-bottom: 0;
    display: flexbox;
}

#ftdig {
    
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
    padding: 10px;
    margin-right: 0;
    margin-bottom: 0;
    
}

#red {
    
    font-size: 30px;
    color: red;
    margin-top: 0;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
}

#redbtn {
    
    font-size: 25px;
    background-color: red;
    color: red;
    text-decoration: none;
   
    
    
}

#greenbtn{

    font-size: 25px;
    background-color: green;
    color: green;
    text-decoration: none;
 
}

#bluebtn{

    font-size: 25px;
    background-color: blue;
    color: blue;
    text-decoration: none;
    
}

#yellowbtn{

    font-size: 25px;
    background-color: yellow;
    color: yellow;
    text-decoration: none;
  
}

#bamberqst1 {

    float:left;
    background-color: black;
    padding-bottom: 20px;
}

#qst {

    font-size: 55px;
    color: black;
    background-color: white;
    padding: 10px;
    border: white 10px solid;
    margin: 30px;


}
.answers{
    margin-bottom: 130px;
}

.ans {
    color: white;
    font-size: 3em;
}

.box {
    float: left;
    height: 40px;
    width:  50px;
    margin-bottom: 5px;
    margin-right: 30px;
    margin-left: 50px;
    color:white;
    clear: both;

}
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  .yellow {
    background-color: yellow;
  }

#colqst{

    float: left;
    margin-left: 50px;
    margin-right: 30px;
    margin-bottom: 50px;
}

nav{
    text-align: center;
    margin: 30px;
    color: white;
    
}

a {
    margin-top: 10px;
    margin-right: 20px;
}

#wrong {

    margin-left: 320px;
}

#winmage{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#win {
    background-color: white;
    margin: 0;
    color: black;
    text-align: center;
    font-size: large;
    padding: 30px;
}

@media screen and (max-width: 600px) {
    
    body{
        font-size: 30px;
    }
    
}